In [3]:
%pip install pymongo

Collecting pymongo
  Using cached pymongo-4.10.1-cp312-cp312-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Using cached dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Using cached pymongo-4.10.1-cp312-cp312-win_amd64.whl (926 kB)
Using cached dnspython-2.7.0-py3-none-any.whl (313 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
# Rather than using Data locally will store it in a mongodb and then fetch from it 
import pandas as pd
import pymongo

In [5]:
df=pd.read_csv('data.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,...,4087,4088,4089,4090,4091,4092,4093,4094,4095,Y
0,0.669422,0.636364,0.648760,0.685950,0.710744,0.760331,0.768595,0.805785,0.793388,0.809917,...,0.223140,0.219008,0.115702,0.090909,0.090909,0.095041,0.086777,0.082645,0.074380,13
1,0.768595,0.756198,0.743802,0.743802,0.752066,0.747934,0.735537,0.702479,0.714876,0.747934,...,0.061983,0.152893,0.247934,0.417355,0.533058,0.504132,0.483471,0.628099,0.652893,30
2,0.371901,0.347107,0.367769,0.380165,0.417355,0.438017,0.462810,0.553719,0.636364,0.685950,...,0.640496,0.669422,0.652893,0.685950,0.714876,0.723140,0.706612,0.681818,0.549587,34
3,0.280992,0.359504,0.404959,0.446281,0.549587,0.578512,0.607438,0.652893,0.665289,0.719008,...,0.847107,0.888430,0.607438,0.438017,0.690083,0.611570,0.537190,0.260331,0.144628,19
4,0.376033,0.475207,0.574380,0.640496,0.661157,0.698347,0.723140,0.747934,0.772727,0.780992,...,0.347107,0.355372,0.355372,0.293388,0.185950,0.305785,0.380165,0.363636,0.417355,24

In [15]:
# Convert to dic and store in mongodb

data=df.to_dict(orient='records')

In [16]:
type(data)

list

In [17]:
import os
from dotenv import load_dotenv

In [21]:
pass_value = os.getenv("MONGO_PASS")  
DB_NAME = "Proj1"
COLLECTION_NAME = "Proj1-Data"
CONNECTION_URL = f"mongodb+srv://haseebpro343:9GU3C6OGNhnLuIJg@cluster0.xg6z3.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [22]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [23]:
rec = collection.insert_many(data)

In [24]:
type(rec)

pymongo.results.InsertManyResult